$primary-color: #8A33FD;
$secondary-color: #FBD103;
$alternative-secondary-color: #EDD146;
$third-color: #F6F6F6;

$text-color: #807D7E;
$allocation-text-color: #3C4242;

$icon-color: #2A2F2F;

$bg-color: #BEBCBD;
$bg-grey-color: #323232;

$white: #FFFFFF;

$bd: 1.8px solid $bg-color;
$bd-allocation: 1.8px solid $allocation-text-color;

$bdr-first: 10px;
$bdr-second: 12px; 

// ALL VARIANTS COLORS 

$pink: #EB84B0;
$brown: #9C1F35;
$red: #F35528;
$orange: #F16F2B;
$navy: #345EFF;
$broom: #D67E3B;
$green: #48BC4E;
$yellow: #FDC761;
$grey: #E4E5E8;
$blue: #3FDEFF;


// Roboto
// $font-family-one: "Roboto", serif;
// Inter
// $font-family-two: "Inter", serif;
// Montserrat
// $font-family-three: "Montserrat", serif;
// Poppins
// $font-family-four: "Poppins", serif;